<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.izhangqian.checkintool" >
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:testOnly="false"
        android:theme="@style/AppTheme" >
        <activity android:name=".activity.CheckinDetailActivity" >
            <intent-filter>
                <action android:name="com.izhangqian.action.CMD_DETAIL" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.UtilActivity" />
        <activity android:name=".activity.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.CheckChooseActivity" />

        <service
            android:name=".service.JobService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".service.JobIntentService"
            android:exported="false" />
        <service
            android:name=".service.MyIntentService"
            android:exported="false" />
        <service
            android:name=".service.MyService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE" >
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessible_service_config_ali" />
        </service>
    </application>

</manifest>